<div ng-controller="TestItemController">

  <form class="form-group">
     <div class="">

  		<label>Name: <input type="text" class="form-control" ng-model="task.name" placeholder="Name" autofocus required /></label>
      <br><br>
      <label>Sample: <input type="text" class="form-control" ng-model="task.sample" placeholder="Sample" autofocus required /></label>
      <br><br>
      Platform:
      <label><input type="radio" ng-model="task.platform" value="web">web</label>
      <label><input type="radio" ng-model="task.platform" value="mobile">mobile</label>
  		   <div class="input-group-btn">
    			<button type="submit" class="btn btn-primary" ng-click="onSubmit()">
    					<i class="fa fa-plus"></i>&nbsp;Add Item
    			</button>
  		   </div>

     </div>
  </form>
  <pre>task = {{task | json}}</pre>
  <pre>master = {{master | json}}</pre>

</div>
